.oow-button {
  height: 100%;
  background: none;
  color: #fff;
  font-family: Avenir, sans-serif;
  border: none;
  cursor: pointer;
}

.oow-button:hover {
  background: #002040;
  color: rgb(70, 197, 255);
}
